<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>

  <strong>Amount Sold:</strong> <%= @product.amount_sold %>
</p>

<p>
  <strong>Review:</strong> <%= @average_rating%>
  <% if @average_rating.to_i >0 %>
     <%=link_to "#{@reviews.count} ratings",product_reviews_path(@product)%>
    <%end %>
</p>
  <table>
    <thead>
    <tr>
      <th>Comments: &nbsp;&nbsp;</th>
      <th>    Rating:</th>
    </tr>
    </thead>

    <tbody>
    <% @reviews.each do |review| %>
          <% if review.comment.present? %>
        <tr>
          <td><%= review.comment %></td>
          <td><%= review.rating %></td>
        </tr>
     <% end %>
    <%end %>

    </tbody>
  </table>

<p>
  <%= link_to "Review this product", new_product_review_path(@product) %>
</p>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

